{% extends "templates/base.html" %}
{% load smart_if %}
{% load humanize %}
{% block title %}
	{% if villain_level != '0' %}{{ villain_level|ordinal }} Level {% endif %}
	{{ villain_role.name }}
{% endblock %}
{% block head %}
<script type="text/javascript">
	function villain(selected_level, name){
		this.Name = name;
		this.Level = selected_level.level;
		this.BCB = selected_level.base_combat_bonus;
		this.SCB = selected_level.secondary_combat_bonus;
		this.Fortitude = selected_level.fortitude + selected_level.constitution;
		this.Reflex = selected_level.reflex + selected_level.dexterity;
		this.Will = selected_level.will + selected_level.wisdom;
		this.DC = selected_level.dc;
		this.Damage = selected_level.damage;
		this.Toughness = selected_level.toughness + selected_level.constitution;
		this.Strength = String(selected_level.strength);
		this.Dexterity = String(selected_level.dexterity);
		this.Constitution = String(selected_level.constitution);
		this.Intelligence =String(selected_level.intelligence);
		this.Wisdom = String(selected_level.wisdom);
		this.Charisma = String(selected_level.charisma);
		
		this.MB = this.BCB + selected_level.strength;
		this.Primary_Attack = this.BCB + selected_level.dexterity;
		this.Full_Damage = this.Damage + selected_level.strength;
		this.Base_Defense = this.BCB + 10;
		this.Dodge = this.Base_Defense + selected_level.dexterity;
		this.Parry = this.Base_Defense + selected_level.strength;
		
		this.Secondary_Attack = this.SCB + selected_level.dexterity;
		this.Second_Defense = this.SCB + 10;
		this.Second_Dodge = this.Second_Defense + selected_level.dexterity;
		this.Second_Parry = this.Second_Defense + selected_level.strength;
		
		this.set_Reputation = function(){
			// since the War Leader has a +3 Reputation Bonus
			var Reputation = (this.Level/5).toPrecision(1);
			if (Reputation < 1) { Reputation = 0 };
			if ('{{ villain_role.name }}' == 'War Leader'){
				Reputation = Reputation + 3;
			}
			this.Reputation = Reputation;
		};
		
		this.create_skills_list = function(skills){
			var skill_list = new Array();
			for (var i = 0; i < skills.length; i++) {
				var key_ability = skills[i].fields.key_ability;
				key_ability = key_ability.charAt(0).toUpperCase() + key_ability.slice(1);
				var this_skill = new Array();
				this_skill[0] = skills[i].pk;
				this_skill[1] = 3 + this.Level + parseInt(this[key_ability]);
				if ('{{ villain_role.name }}' == 'Artillery') {
					var Level_Skills = ['Acrobatics', 'Climb', 'Jump', 'Swim'];
					for (var j = 0; j <= Level_Skills.length; j++) {
						if (this_skill[0] == Level_Skills[j]) {
							this_skill[1] = this_skill[1] - 3;
						}
					}
				}
				if ('{{ villain_role.name }}' == 'War Leader') {
					if (this_skill[0] == 'Notice') {
						this_skill[1] = this_skill[1] - 3;
					}
				}
				if (String(this_skill[1]).charAt(0) != '-'){
					this_skill[1] = '+' + this_skill[1];
				}
				skill_list.push(this_skill.join(':&nbsp;'));
			}
			this.Skills = skill_list.join('; ');
		};
		
		this.create_abilities_list = function(villain_data, select){
			var abilities_list = new String();
			var total_abilities = new Array();
			for (var j = 0; j < select; j++){
				for (var i = 0; i < villain_data.length; i++) {
					if (villain_data[i].fields.level == j+1) {
						total_abilities[j] = villain_data[j].fields.abilities;
					}
				}
			}	
			abilities_list = total_abilities.join(', ').replace(/ ,/g, '');
			abilities_list = abilities_list.replace(/^, /, '');
			abilities_list = abilities_list.replace(/,\s*$/, '');
			this.Abilities = abilities_list;
		};
		
		// got this function from the good folks at Shopify
		// http://forums.shopify.com/categories/2/posts/29259
		this.set_Level = function() {
			var n = this.Level;
			var s=["th","st","nd","rd"],
			   v=n%100;
			this.Level = n+(s[(v-20)%10]||s[v]||s[0]);
		};
		
		this.format_numbers = function() {
			var numbers = new Array();
			numbers = ['BCB', 'Primary_Attack', 'Secondary_Attack', 'Fortitude', 'Reflex', 'Will', 'Damage', 'Toughness', 'Strength', 'Dexterity', 'Constitution', 'Intelligence', 'Wisdom', 'Charisma', 'MB', 'Full_Damage', 'Reputation'];
			for (var i = 0; i <= numbers.length; i++){
				if (String(this[numbers[i]]).charAt(0) != '-'){
					this[numbers[i]] = '+' + this[numbers[i]];
				}
			}
		};
		
		this.display = function(){
			this.format_numbers();
			$(".Name").html(this.Name);
			$(".Level").html(this.Level + ' Level ');
			$(".BCB").html(this.BCB);
			$(".Primary_Attack").html(this.Primary_Attack);
			$(".Secondary_Attack").html(this.Secondary_Attack);
			$(".Fort").html(this.Fortitude);
			$(".Ref").html(this.Reflex);
			$(".Will").html(this.Will);
			if (this.Abilities != '') {$(".Abilities").html(this.Abilities);}
				else $(".Abilites").html('None');
			if (this.DC != '') {$(".DC").html(this.DC);}
				else $(".DC").hide();
			$(".Damage").html(this.Damage);
			$(".Toughness").html(this.Toughness);
			$(".Strength").html(this.Strength);
			$(".Dexterity").html(this.Dexterity);
			$(".Constitution").html(this.Constitution);
			$(".Intelligence").html(this.Intelligence);
			$(".Wisdom").html(this.Wisdom);
			$(".Charisma").html(this.Charisma);
			$(".MB").html(this.MB);
			$(".Full_Damage").html(this.Full_Damage);
			$(".FF").html(this.Base_Defense);
			$(".Dodge").html(this.Dodge);
			$(".Parry").html(this.Parry);
			if (this.SCB) {
				$(".Second_Defense").html(' (' + this.Second_Defense + ')');
				$(".Second_Dodge").html(' (' + this.Second_Dodge + ')');
				$(".Second_Parry").html(' (' + this.Second_Parry + ')');
			}
			$(".Skills").html(this.Skills);
			$(".Reputation").html(this.Reputation);
			if (!this.Name) {
				$(".villain_link").attr('href', '{{ villain_url }}' + selected_level.level);
			}
			$(".villain_link").show();
			$("title").html(this.Level + ' Level ' + '{{ villain_role.name}}');
			$(".StatBlock").show();
		};
	};
	
	function create_villain(select, villain_data, skills, name){
		for (var i = 0; i < villain_data.length; i++){
			if (villain_data[i].fields.level == select){
				var new_villain = new villain(villain_data[i].fields, name);
				new_villain.create_abilities_list(villain_data, select);
				new_villain.create_skills_list(skills);
				new_villain.set_Reputation();
				new_villain.set_Level();
			}
		}
		return new_villain;
	};

	
	$(document).ready(function(){
		var selected = {{ villain_level }};
		var skills = {{ villain_skills|safe }};
		var villain_data = {{villain_data|safe }};
		var name = '{{ npc.name }}';
		
		//set the level select options
		document.Villain.Villain_Level.options.length = 0;
		for (i = 1; i <= villain_data.length; i++){
			document.Villain.Villain_Level.options[i] = new Option(i, i);
		}
		
		// if a level has been indicated in the URL, set the selector
		// and display the villain
		if (selected != '0') {
			var current_level = document.Villain.Villain_Level[selected];
			current_level.selected = true;
			var villain_obj = create_villain(selected, villain_data, skills, name);			
			villain_obj.display();
		}
		
		$("#level").change(function(){
			name = "";
			var select = document.Villain.Villain_Level.options.selectedIndex;
			var villain_obj = create_villain(select, villain_data, skills, name);				
			villain_obj.display();
					
		});
		
	});
	
</script>

{% endblock%}
{% block content %}

	<div class="noprint">
	<h4 style="float:left; padding-right: 1em">Select {{ villain_role.name }} Level:</h4>
	
	<form name="Villain" style="padding-top: 1.8em;">
		<select name="Villain_Level" id="level">
		</select>
	</form>
	
	</div>
	
	<div class="StatBlock" style="display:none; clear:left" >
		
		<table id="statblocktable">
		<tr>
			<td>Name:</td>
			<td colspan="4"><strong><span class="Name"></span></strong></td>
			<td colspan="4">(<span class="Level"></span>{{ villain_role.name }} )</td>
			<td colspan="2" class="stat_name">Reputation:</td>
			<td class="statvalue"><span class="Reputation"></span></td>
		</tr>
		<tr class="titlebar"><td colspan="12">Abilities</td></tr>
		<tr>
			<td width="8%" class="stat_name" style="text-align:center">STR</td><td width="9%" class="statvalue"><span class="Strength"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">DEX</td><td width="9%" class="statvalue"><span class="Dexterity"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">CON</td><td width="9%" class="statvalue"><span class="Constitution"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">INT</td><td width="9%" class="statvalue"><span class="Intelligence"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">WIS</td><td width="8%" class="statvalue"><span class="Wisdom"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">CHA</td><td width="8%" class="statvalue"><span class="Charisma"></span></td>
		</tr>
		
		<tr class="titlebar"><td colspan="12">Skills</td></tr>
		<tr>
			<td colspan="12" style="padding-bottom: 30px"><span class="Skills"></span></td>
		</tr>
		
		<tr class="titlebar"><td colspan="12">Feats and Powers</td></tr>
		<tr>
			<td colspan="12" style="padding-bottom: 30px"><span class="Abilities">None</span></td>
		</tr>
		
		{% if villain_data.1.7 %}
			<tr>
				<td colspan="2">Save DC:</td>
				<td colspan="10"><span class="DC"></span></td>
			</tr>
		{% endif %}
		
		<tr class="titlebar"><td colspan="12">Combat</td></tr>
		<tr>
			<td class="stat_name">Init:</td>
			<td colspan="2" class="statvalue"><span class="Dexterity"></span></td>
			<td colspan="3" class="stat_name">Primary Attack:</td>
			<td colspan="2" class="statvalue"><span class="Primary_Attack"></span></td>
			<td class="stat_name" colspan="2">Damage:</td>
			<td colspan="2" class="statvalue"><span class="Full_Damage"></span></td>
		</tr>
		
		<tr><td class="stat_name">Maneuver:</td>
		<td colspan="2" class="statvalue"><span class="MB"></span></td>
			{% if villain_role.name = 'Artillery' or villain_role.name = 'Skirmisher' %}
				<td colspan="3" class="stat_name">Secondary Attack:</td>
				<td colspan="2" class="statvalue"><span class="Secondary_Attack"></span></td>			
				<td class="stat_name" colspan="2">Damage:</td>
				<td colspan="2" class="statvalue"><span class="Damage"></span></td>
			{% else %}
				<td colspan="9"></td>
			{% endif %}
		</tr>
		<tr>
			<td colspan="2" class="stat_name" style="font-style:italic; text-align:center">Defense</td>
			<td class="stat_name" colspan="2">Flat-Footed:</td>
			<td colspan="2" class="statvalue"><span class="FF"></span>
				<span class="Second_Defense"></span></td>
			<td class="stat_name">Dodge:</td>
			<td colspan="2" class="statvalue"><span class="Dodge"></span>
				<span class="Second_Dodge"></span></td>
			<td class="stat_name">Parry:</td>
			<td colspan="2" class="statvalue"><span class="Parry"></span>
				<span class="Second_Parry"></span></td>
		</tr>
		<tr class="stat_name" style="text-align:center; background-color: grey; color:white">
			<td>Damage:</td>
			<td colspan="2">0</td>
			<td colspan="3">5+</td>
			<td colspan="3">10+</td>
			<td colspan="3">15+</td>
		</tr>
		<tr class="stat_name" style="text-align:center">
			<td>/</td>
			<td colspan="2">Bruised</td>
			<td colspan="3">Dazed</td>
			<td colspan="3">Staggered</td>
			<td colspan="3">Unconscious</td>
		</tr>
		<tr style="text-align:center;">
			<td>&nbsp;</td>
			<td colspan="2">
				<table width="100%"><tr>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
		</tr>
		<tr class="stat_name" style="text-align:center">
			<td>X</td>
			<td colspan="2">Hurt</td>
			<td colspan="3">Wounded</td>
			<td colspan="3">Disabled</td>
			<td colspan="3">Dying</td>
		</tr>
		<tr class="stat_name" style="text-align:center; background-color: grey; color:white"><td>Fatigue:</td><td colspan="11"></td></tr>
		<tr class="stat_name" style="text-align:center">
			<td></td>
			<td colspan="2">Strained</td>
			<td colspan="3">Winded</td>
			<td colspan="3">Fatigued</td>
			<td colspan="3">Exhausted</td>
		</tr>
		<tr style="text-align:center">
			<td>/</td>
			<td colspan="2">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
		</tr>
			
		<tr class="titlebar"><td colspan="12">Saves</td></tr>
		<tr>
			<td colspan="2" class="stat_name">Toughness:</td>
			<td class="statvalue"><span class="Toughness"></span></td>
			<td colspan="2" class="stat_name">Fortitude:</td>
			<td class="statvalue"><span class="Fort"></span></td>
			<td colspan="2" class="stat_name">Reflex:</td>
			<td class="statvalue"><span class="Ref"></span></td>
			<td colspan="2" class="stat_name">Will:</td>
			<td class="statvalue"><span class="Will"></span></td>
		</tr>
		</table>
	</div>
	
	<p><a class="villain_link noprint" style="display:none" href="{% if npc %}{% url npc villain=villain_role.name level=villain_level name=npc.slug %}{% else %}{% url villain_role_and_level villain=villain_role.slug level=villain_level %}{% endif %}">Permanent link to this villain</a></p>
	
	{% if villain_role.name %}
		<div style="clear:left" class="noprint">
			<h3>About {{ villain_role.name }}{% if villain_role.name != "Artillery" %}s{% endif %}</h3>
			{{ villain_role.description|safe }}
		</div>
	{% endif %}
	
	
	<p>VILLAIN_URL: {{ villain_url }}</p>
	
	<div id="villain_selection" style="clear:left" class="noprint">
		<h2>Select a{% if villain_role.name %}nother{% endif %} Villain type:</h2>
		<p><a href="{% url villain_role 'Artillery' %}">Artillery</a> ::
		 <a href="{% url villain_role 'Brute' %}">Brute</a> ::
		 <a href="{% url villain_role 'Controller' %}">Controller</a> ::
		 <a href="{% url villain_role 'Lurker' %}">Lurker</a> ::
		 <a href="{% url villain_role 'Skirmisher' %}">Skirmisher</a> ::
		 <a href="{% url villain_role 'WarLeader' %}">War Leader</a></p>
	{% if latest_updates %}
	<div id="updates" class="noprint">
		<h2>Some Recent Updates</h2>
		
		
			<ul id="island-list">
				{% for island in latest_updates %}
					<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ island.get_absolute_url }}">{{ island.name }}</a>: {{ island.latest_changeset.comment }} ({{ island.latest_changeset.modified|timesince }} ago)</li>
				{% endfor %}
			</ul>
	</div>
	{% endif %}
	
{% endblock %}